{% extends 'base.html.twig' %}

{% block title %}Bienvenue Plateforme détection et  suivi des cas de Retards de Croissance{% endblock %}

{% block body %}
   <div class="jumbotron">
  <h1 class="display-4">Bienvenue</h1>
  <p class="lead">Plateforme détection et  suivi des cas de Retards de Croissance</p>
  <hr class="my-4">
  <h4>La mise en place de cette Plateforme  s’inscrit dans le cadre de la réalisation d’un diagnostic autour de
la problématique du retard de croissance chez les enfants de moins de 5 ans.</h4>
<h4>Plateforme a pour but de collecter, d’agréger et d’analyser les données relatives à la santé
maternelle et infantile.</h4>     
</div>

 

           
{% endblock %}