{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New User{% endblock %}

{% block body %}
    
                 {{ include('user/_form.html.twig') }}

                  <a class="btn btn-outline-success" href="{{ path('user_index') }}">retour à la liste</a>
                    
{% endblock %}
